.credits-container {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
}

.credits-bar-container {
    top: 0;
    position: absolute;
    margin-top: 2vh;
}

.credits-bar-text {
    color: #FFF;
    font-family: "Major Mono Display", monospace;
    font-size: 1.5rem;
    font-weight: 400;
    text-align: center;
    line-height: normal;
    white-space: pre;
    position: absolute;
}

.credits-bar-contents {
    background-color: rgba(255, 255, 255, 0.35);
    border: 1px solid transparent;
    border-radius: 10px;
    width: 95%;
    height: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.credits-bar-background {
    background-image: url('../images/Project-Bar-Outline.svg');
    background-size: cover;
    background-position: center;
    width: 38rem;
    height: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.credits-content-container {
    display: flex;
    background-image: url(/src/assets/images/Project-Background.svg);
    background-size: cover;
    background-position: center;
    align-content: stretch;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 85vw;
    height: 75vh;

    border-radius: 16px;
    border-color: white;
    border-width: 3px;
    border-style: solid;
    box-sizing: content-box;
    margin-top: 10vh;
}

.tools-used,
.languages {
    background-color: rgba(255, 255, 255, 0.55);
    border-radius: 16px;
    border-color: white;
    border-width: 3px;
    border-style: solid;

    width: 35vw;
    height: 60vh;
}

.tools-title,
.languages-title {
    color: #FFF;
    font-family: "Major Mono Display", monospace;
    font-size: 3rem;
    font-weight: 400;
    text-align: center !important;
    line-height: normal;
    width: inherit !important;
}

.credits-divider{
    margin-left: 20%;
    width: 60%;
}

.languages-list, .tools-list{
    color: #FFF;
    font-family: "Major Mono Display", monospace;
    font-size: 1.8rem;
    font-weight: 400;
    text-align: left;
    line-height: normal;
    text-transform: lowercase;
    margin-top: 5%;
    gap: 15px;
    list-style-type: square;
}

@media (max-width: 768px) {

    .credits-content-container{
        height: 30vh;
    }
    .credits-bar-background{
        width: 60vw;
        height: 5vh;
    }

    .tools-title, .languages-title {
        font-size: 2rem;
    }
    .languages-list, .tools-list {
        font-size: 2vw;
    }
    .credits-divider {
        width: 80%;
        margin-left: 10%;
    }

    .tools-used, .languages{
        height: 22vh;
    }

    .tools-title, .languages-title{
        font-size: 3vw !important;
    }
}