html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


a {
  text-decoration: none;
}

.main-content {
  display: flex;
  flex-direction: column;

  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

.intro-group {
  display: flex;
  width: 130rem;
  height: 15vh;
  flex-direction: column;
  align-items: flex-start;
  flex-shrink: 0;
  margin-top: -5%;
  margin-left: 1%;

}

.name-text {
  color: #FFF;
  font-family: "Montserrat" !important;
  font-size: 12vh !important;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-align: left;

}

.job-text {
  color: #FFF;
  font-family: "Major Mono Display";
  font-size: 1.7rem !important;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-align: left;
  margin-left: 1%;
  margin-top: -4%;
}

.degree-text {
  color: #FFF;
  font-family: "Major Mono Display";
  font-size: 1.7rem !important;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-align: left;
  margin-left: 1%;
}

.intro-divider {
  margin-left: 1%;
}

.resume-button {
  display: flex;
  width: 8rem;
  height: 2.2rem;
  padding: 1.3rem 4.5rem;
  justify-content: center;
  align-items: center;
  gap: 0.625rem;
  flex-shrink: 0;
  margin-left: 15%;
  margin-top: 10%;
  border-radius: 1rem;
  border: 1px solid rgba(255, 255, 255, 0.65);
  background: rgba(255, 255, 255, 0.20);
  backdrop-filter: blur(2px);
  cursor: pointer;

}

.resume-text {
  color: #FFF;
  text-align: center;
  font-family: "Major Mono Display";
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;

  background-color: transparent;
  background-repeat: no-repeat;
  border: none;
  outline: none;
  cursor: pointer;
}

.profile-pic-container {
  display: flex;
  width: 35vh;
  height: 35vh;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  margin-top: 25vh;
  position: relative;
  z-index: 0;
}

.profile-pic-glow {
  border-radius: 50%;
}

.middle-content {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  align-items: center;
}

.profile-pic-container::before {
  content: "";
  position: absolute;
  inset: -5px;
  border-radius: 50%;
  padding: 10px;
  background: linear-gradient(360deg, #313545, #121118);
  -webkit-mask: linear-gradient(white, white) content-box, linear-gradient(white, white);
  -webkit-mask-composite: destination-out;
  mask-composite: exclude;
  z-index: 0;
}

.profile-background-video {
  position: absolute;
  top: 50%;
  left: 50%;
  object-fit: cover;
  transform: translate(-50%, -50%);
  display: flex;
  width: 33.75rem;
  height: 33.75rem;
  border-radius: 50%;
  z-index: 0;
  object-fit: cover;
  width: 100%;
  height: 100%;

}

.profile-pic-div {
  display: flex;
  width: 32vh;
  height: 32vh;
  border-radius: 50%;
  position: relative;
  z-index: 1;
  justify-content: center;
  align-content: center;
  align-items: center;
}

.profile-pic {
  display: flex;
  width: 31vh;
  height: 31vh;
  border-radius: 50%;
  position: relative;
  z-index: 1;
}

.profile-pic-div::before {
  content: "";
  position: absolute;
  inset: 3px;
  border-radius: 50%;
  padding: 5px;
  background: linear-gradient(360deg, #313545, #121118);
  -webkit-mask: linear-gradient(white, white) content-box, linear-gradient(white, white);
  -webkit-mask-composite: destination-out;
  mask-composite: exclude;
  z-index: 0;
}

.nav-menu {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 5vw;
  height: 5vw;
  border-radius: 25%;
  border-style: solid;
  border-width: 0.1rem;
  border-color: rgba(255, 255, 255, 0.35);
  margin-top: 5%;
}

.nav-menu {
  position: absolute;
  top: 75vh;
  left: 50%;
  transform: translate(-50%, -50%);
  margin-bottom: 50%;

  white-space: pre;
  z-index: 99;
}

.nav-menu-button {
  color: #FFF;
  text-align: center;
  font-family: "Major Mono Display";
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;

  background-color: transparent;
  background-repeat: no-repeat;
  border: none;
  outline: none;
  cursor: pointer;

  position: absolute;
}

.top {
  top: -40px;
  left: 50%;
  transform: translateX(-50%);
}

.right {
  right: -100px;
  top: 50%;
  transform: translateY(-50%);
}

.bottom {
  bottom: -40px;
  left: 50%;
  transform: translateX(-50%);
}

.left {
  left: -75px;
  top: 50%;
  transform: translateY(-50%);
}

.nav-menu-selector {
  display: flex;
  align-self: center;
  margin-top: 40%;
}

.selector {
  color: #FFF;
  text-align: center;
  font-family: "Major Mono Display";
}

.footer-content {
  position: absolute;
  bottom: 0;
  z-index: 1;
}

.footer-texts-containers {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 98%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}

.name-date,
.details-credits {
  display: flex;
  color: #FFF;
  text-align: center;
  font-family: "Major Mono Display";
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  flex-wrap: wrap;
  flex-direction: row;
  align-content: center;
  justify-content: center;
  align-items: baseline;
}

.footer-button {
  color: #FFF;
  text-align: center;
  font-family: "Major Mono Display";
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-decoration: underline;

  background-color: transparent;
  background-repeat: no-repeat;
  border: none;
  outline: none;
  cursor: pointer;
}

.bottom-right-container {
  position: fixed;
  bottom: 0;
  right: 0;
  margin-bottom: 6vh;
  margin-right: 1%;
}

.links-bar-container {
  border-radius: 0.5rem;
  border: 1px solid rgba(255, 255, 255, 0.65);
  width: 29.5rem;
  height: 4.5rem;
  /* margin-bottom: 5%; */
  display: flex;
  align-content: center;
  justify-content: center;
  align-items: center;
}

.links-bar-background {
  border-radius: 0.118rem;
  background: rgba(255, 255, 255, 0.35);
  backdrop-filter: blur(2px);

  width: 96%;
  height: 73%;

  display: grid;
}

.link-buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: stretch;
  flex-wrap: wrap;
  align-content: center;
  margin-top: 1.5%;
}

.link-button {
  background-color: transparent;
  background-repeat: no-repeat;
  border: none;
  outline: none;
  cursor: pointer;
}

.link-button-img {
  scale: 130%;
}

.better-on-desktop {
  visibility: hidden;
}

.old-website {
  display: flex;
  color: #FFF;
  text-align: center;
  font-family: "Major Mono Display";
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-decoration: underline;
  padding-bottom: 10px;
  justify-content: flex-end;
  align-items: flex-end;
  align-content: flex-end;
  flex-direction: row;
}

@media screen and (max-width: 1025px) {

  .profile-pic-container {
    display: flex;
    width: 20.5vh;
    height: 20.5vh;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    margin-top: 0%;
    position: relative;
    z-index: 0;
  }

  .profile-pic {
    display: flex;
    width: 18vh;
    height: 18vh;
    border-radius: 50%;
    position: relative;
    z-index: 1;
  }

  .middle-content{
    margin-top: 5vh;
  }

  .profile-pic-div {
    display: flex;
    width: 19.5vh;
    height: 19.5vh;
    border-radius: 50%;
    position: relative;
    z-index: 1;
    justify-content: center;
    align-content: center;
    align-items: center;
  }

  .intro-group {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex-shrink: 0;
    margin-top: 5%;
    margin-left: 1%;
    height: 30vh;
    width: 100vw;
  }

  .degree-text {
    color: #FFF;
    font-family: "Major Mono Display";
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-align: left;
    margin-left: 1%;
    margin-top: 0%;
  }

  .name-text{
    font-size: 6vw !important;
    font-weight: 500 !important;
    margin-left: 1%;
  }

  .job-text, .degree-text {
    margin-top: 2% !important;
    font-size: 2.5vw !important;
  }

  .intro-divider {
    width: 95vw;
  }

  .nav-menu {
    top: 67%;
    width: 6vh !important;
    height: 6vh !important;
  }

  .nav-menu-button{
    font-size: 1.8vh;
  }

  /* hide the spotify plugin on mobile */
  .spotify-plugin-container {
   visibility: hidden;
  }
   

  .links-bar-container {
    width: 97vw;
  }

  .name-date,
  .details-credits {
    font-size: 2vw;
    white-space: pre !important;
  }

  .bottom-right-container {
    margin-bottom: 8%;
  }

  .footer-texts-containers {
    width: 96%;
    padding: 10px 8px;
  }

  .details-credits {
    visibility: hidden;
  }

  .better-on-desktop {
    display: flex;
    color: #FFF;
    text-align: center;
    font-family: "Major Mono Display";
    font-size: 2vw;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    position: absolute;
    right: 0;
    margin-right: 2%;
    visibility: visible;
  }

  .old-website {
    font-size: 2.1vw;
  }

  .name-date{
    width: 33% !important;
    position: absolute;
  }

  .resume-button{
    padding: 0.5rem 3.5rem;
  }

  /* .resume-button{
  padding: 0.5vh 0.5vh;
  width: 15vh;
  position: absolute;
  margin-left: 60vw;
  top: 0;
  margin-top: 10vh;
  } */

  .resume-text{
    font-size: 2vh;
  }

  .bottom{
    bottom: -5.5vh;
  }

  .top{
    top: -5.5vh;
  }

  .right{
    right: -25vw;
  }

  .left{
    left: -20vw;
  }
}